@model TurismoMexicoMVC.Models.comentarios

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Editar_Comentario", "Comentario", FormMethod.Post))
{
    <div class="row">
        <div class="col-md-12">
            @* HIDDEN FOR ESTÁ OCULTO *@
            @Html.HiddenFor(d => d.id_comentario)

            <div>
                @Html.LabelFor(d => d.nombre_usuario, new { @class = "fw-bolder" })
                @Html.TextBoxFor(d => d.nombre_usuario, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.nombre_usuario, null, new { @class = "red" })
            </div>
            <hr />
            <div>
                @Html.LabelFor(d => d.comentario, new { @class = "fw-bolder" })
                @Html.TextBoxFor(d => d.comentario, "", new { @class = "form-control" })
            </div>
            <hr />
            <div>
                @Html.LabelFor(d => d.fecha, new { @class = "fw-bolder" })
                @Html.EditorFor(d => d.fecha, "", new { @class = "date" })
            </div>
            <hr />
            <div>
                @Html.Label("Lugar", new { @class = "fw-bolder" })
                @Html.DropDownListFor(d => d.lugar_id, new SelectList(ViewBag.ListaLugares, "id_lugar", "nombre_lugar"), new { @class = "form-control" })

            </div>

            <div style="text-align:right;">
                <input value="Guardar" class="btn btn-primary" type="submit" />
            </div>


        </div>

    </div>
}

