@* ponemos model en minúscula porque es un helper *@
@model List<TurismoMexicoMVC.Models.ViewModels.ComentariosLista>
@{
    ViewBag.Title = "Comentarios";
}
<div class="row mt-5 mb-2">
    <div class="col-12" style="text-align:center;">
        <h3 class="text-center text-secondary fw-semibol mb-4">@ViewBag.Title</h3>
    </div>
    <div class="col-5" style="text-align:right;">
        @*<a href="~/Comentario/Nuevo_Comentario" class="btn btn-success mb-3">Nuevo Comentario</a>*@
    </div>
</div>

@* COMMENTS *@
<div class="row d-flex justify-content-center">
    <div class="col-md-8 col-lg-6">
        <div class="card shadow-0 border" style="background-color: #f0f2f5;">
            <div class="card-body p-4">
                <div class="form-outline mb-4">
                    <a href="~/Comentario/Nuevo_Comentario" class="form-label text-decoration-none" for="addANote">+ Añadir comentario</a>
                </div>
                @* CUADRO DE COMENTARIO *@
                @foreach (var Elemento in Model)
                {
                    <div class="card mb-4">
                        <div class="card-body">
                            <p class="fw-semibold mb-0">@Elemento.comentario</p>
                            <p class="small text-muted mt-0 mb-4">@Elemento.nombre_lugar</p>
                            <div class="d-flex justify-content-between">
                                <div class="d-flex flex-row align-items-center">
                                    <img src="https://cdn-icons-png.flaticon.com/512/2919/2919600.png" alt="avatar" width="25"
                                         height="25" />
                                    <p class="small mb-0 ms-2">@Elemento.nombre_usuario</p>
                                </div>
                                <div class="d-flex flex-row align-items-center">
                                    <p class="small text-muted mb-0"> @Elemento.fecha </p>                                    
                                </div>
                                <div class="d-flex flex-row align-items-end">
                                    <a class="btn btn-info me-1" href="~/Comentario/Editar_Comentario/@Elemento.id_comentario"><i class="fa-solid fa-wand-magic-sparkles fa-xs"></i></a>
                                    <a class="btn btn-warning" href="~/Comentario/Eliminar_Comentario/@Elemento.id_comentario"><i class="fa-regular fa-trash-can fa-xs"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                @* CUADRO DE COMENTARIO *@
            </div>
        </div>
    </div>
</div>
@* COMMENTS *@

