@model TurismoMexicoMVC.Models.categorias

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Editar_Categoria", "Categoria", FormMethod.Post))
{
    <div class="row">
        <div class="col-md-12">
            
            @Html.HiddenFor(d => d.id_categoria)
            <div>
                @Html.LabelFor(d => d.nombre, new { @class = "fw-bolder"})
                @Html.TextBoxFor(d => d.nombre, "", new { @class = "form-control", required = true })
                @Html.ValidationMessageFor(d => d.nombre, null, new { @class = "red" })
            </div>
            <div>
                @Html.LabelFor(d => d.descripcion, new { @class = "fw-bolder" })
                @Html.TextBoxFor(d => d.descripcion, "", new { @class = "form-control" })
            </div>
            </div>
            <div style="text-align:right;">
                <input value="Guardar" class="btn btn-primary" type="submit" />
            </div>
        </div>
}

