@model TurismoMexicoMVC.Models.fotos

<h4 class="mt-5 text-secondary fw-semibold">@ViewBag.Title</h4>

@using (Html.BeginForm("Editar_Foto", "Foto", FormMethod.Post))
{
    <div class="row">
        <div class="col-md-12">
            @* HIDDEN FOR ESTÁ OCULTO *@
            @Html.HiddenFor(d => d.id_foto)

            <div>
                @Html.LabelFor(d => d.url_foto, new { @class = "fw-semibold mt-3" })
                @Html.TextBoxFor(d => d.url_foto, new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.url_foto, "", new { @class = "red" })
            </div>
            <div>
                @Html.LabelFor(d => d.descripcion, new { @class = "fw-semibold mt-3 mb-1" })
                @Html.TextBoxFor(d => d.descripcion, new { @class = "form-control" })
            </div>

            @* NO SE USA LABELFOR PORQUE NO ES UN ATRIBUTO COMO TAL *@
            <div>
                @Html.Label("Foto", new { @class = "fw-semibold mt-3 mb-1" })
                @Html.DropDownListFor(d => d.lugar_id, new SelectList(ViewBag.ListaLugares, "id_lugar", "nombre_lugar"), new { @class = "form-control" })
            </div>

            <div style="text-align:left;">
                <input value="Guardar" class="btn btn-secondary mt-5" type="submit" />
            </div>


        </div>

    </div>
}

